<footer >
    <div class="f-info">
        <div class="f-info-socials">
           <a href="https://www.facebook.com/AirbnbIndia" target="_blank"><i class="fa-brands fa-facebook"></i></a> 
           <a href="https://www.instagram.com/airbnb/" target="_blank"><i class="fa-brands fa-instagram"></i></a> 
            <a href="https://x.com/airbnb_in" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
    
    <div class="f-info-brand"> &copy;Wanderlust Private limited</div>
    <div class="f-info-links">
        <a href="/privacy" target="_blank">Privacy</a>
        <a href="/terms" target="_blank">Terms</a>

    </div>
</div>
</footer>